.list__nos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.list__nos__order{
    font-family: Roboto-Regular;
    color: white;
    list-style: none;
    font-size: 40px;
    background-color: $colorPrincipal;
    text-align: center;
    padding: 40px;
    margin: 10px;
    border: $colorSecundario solid;
    border-radius: 8px;
}