.listShipping{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.listShipping__order{
    font-family: Roboto-Regular;
    font-size: 30px;
    color: white;
    list-style: none;
}
.listShipping__item{
    color: white;
    font-size: 40px;
    background-color: #06002C;
    text-align: center;
    padding: 30px;
    margin: 10px;
    border: #F06BF2 solid;
    border-radius: 8px;
}
.localitiesTittle{
    padding: 10px;
    margin: 10px;
    width: 290px;
    height: 60px;
    font-family: Roboto-Regular;
    font-size: 30px;
    color: white;
    background-color: #06002C;
    border: #F06BF2 solid 3px;
    border-radius: 30px;
    text-align: center;
}