.productTittle{
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 70px;
    font-family: Roboto-Regular;
    color: white;
    background-color: $colorPrincipal;
    border: $colorSecundario solid 3px;
    border-radius: 30px;
    text-align: center;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.productCard{
    @extend %card
}
.productCard__img{
    width: 100%;
    height: 200px;
}
.productCard__tittle{
    margin: 5px;
    color: white;
    font-size: 20px;
}
.productCard__desc{
    color: white;
    margin: 10px;
    padding: 5px;
    border: 2px inset $colorSecundario;
    border-radius: 8px;

}
.productCard__btn{
    @include button(white,$colorSecundario)
}

//Carrito

#carrito-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
    display: none;
}
  
#carrito-container.carrito-visible {
    display: block;
    
}
  
.carrito ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
  
.carrito li {
    margin-bottom: 5px;
}